body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    }
    header h1 {
    margin: 0;
    font-size: 2.5em;
    }
    main {
    padding: 20px;
    }
    section {
    margin-bottom: 40px;
    }
    #historico h2, #galeria h2 {
    color: #333;
    font-family: 'Georgia', serif;
    }
    p {
    line-height: 1.6;
    }
    #galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }
    .foto {
    flex: 1 1 calc(33.333% - 20px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    }
    .foto img {
    max-width: 100%;
    height: auto;
    display: block;
    
    margin: 0 auto 10px;
    }
    footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    }